body{
    background-color: azure;
}

h1{
    color: blue;
    text-align: center;
    margin-left: 60px;

}
.main-header{
    text-align: center;
    margin-left: 60px;
}

.background{
    margin: 60px auto;
}
