body{
    background-color: azure;
}

h1{
    color: blue;
    text-align: center;
    margin-left: 60px;

}
.main-header{
    text-align: center;
    margin-left: 60px;
}

.background{
    margin: 60px auto;
}

.black{
    color: black;
    border: 3px solid black;
    text-align: center;
    margin-top: 20px;
}
.omar{
    margin-left: 400px;
}
.yummy{
    text-align: center;
    border: 3px solid black;
}
body{
<<<<<<< HEAD
    font-family: "Raleway", sans-serif;
    text-align: center;
    background-color: aquamarine;
}
.second-header {
    font-size: 40px;
    color: darkmagenta;
}
h3{
    font-size: 40px;
    text-align: center;
}
main.header{
    font-size: 40px;
    text-align: center;
}
.third{
      text-align: center;
    align-items: center;
    margin: 40px;
}

.img{
    padding: 40px 40px 40px 40px;


=======
    font-family: 'Croissant One', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    color: blueviolet;
      
>>>>>>> fa7545121f36a90fe2fd53432ceafa68736e2261
}
.igottoomanyclasses{
    align-items: center;
    margin-left: 520px;
    margin-top: 100px;
    padding: 40px 40px 40px 40px;


}

.under{
    text-align: center;
    font-size: 20px;
    border: 3px solid black;
}
.yes{
    margin-left: 600px;
    
}
